<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        {% load staticfiles %}
        <!-- Include CSS -->
        <link rel="stylesheet" href="{% static 'css/bootstrap/css/bootstrap.css' %}">
        <link rel="stylesheet" href="{% static 'css/custom.css' %}">
        <link rel="stylesheet" href="{% static 'css/jquery.multiselect.css' %}">
        <link rel="stylesheet" href="{% static 'css/jquery-ui.min.css' %}">

        <!-- Include scripts -->
        <script type="text/javascript" src="{% static 'js/d3.v3.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/jquery-ui.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/jquery.multiselect.js' %}"></script>
        <script type="text/javascript" src="{% static 'css/bootstrap/js/bootstrap.js' %}"></script>
        <style>
            /* Side Navigation */

        </style>
        <title> Yelp analysis </title>
    </head>
    
    <body>
        <div id="wrapper">
            <!-- Navigation -->
            <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
                <!-- Top Menu Items -->
                <ul class="nav  top-nav">
                    <a href="factors/home" class="navbar-brand active">Rating Analysis</a>
                    <a href="#" class="navbar-brand">Restaurant Stats</a>
                    <a href="#" class="navbar-brand">Area stats</a>
                </ul>
                <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
                <div class="collapse navbar-collapse navbar-ex1-collapse" id="sidemenu">
                    <ul class="nav navbar-nav side-nav" id="sidelist">
                        {% block sidelist %} {% endblock %}
                    </ul>
                </div>
                <!-- /.navbar-collapse -->
            </nav>

            <div id="page-wrapper">
                <div class="container-fluid">
                    <!-- Page Heading -->
                    <div class='row' style="padding-left:10px">
                        <button type="button" onclick="requestData();" class="btn btn-primary">Get Visualizations</button>
                    </div>
                    <div class="row">
                        <div class="col-lg-12" id="main_container" style="height:400px;width:300px">
                            {% block content %}{% endblock %}
                        </div>
                    </div>
                    <!-- /.row -->
                </div>
            </div>
        </div>
        {% block scripts %}{% endblock %}
    </body>
</html>